{% extends 'base.html' %}
{% block content %}

  {% if t=='s' %}
  <div style="background-color:#222629">
    <h3 style="color:white; text-align:center;">Sorry! This movie is not in our database.</h3>
    <h3 style="color:white; text-align:center;">Please check if you spelled it right!</h3>
    <!--<h3 style="color:white">Or try with some other movie!</h3>-->
  </div>

  {% else %}
  <div style="background-color:#222629">
    <h2 style="color:white; text-align:center;">{{movie}} is a great choice!</h1>
    <h3 style="color:white; text-align:center;">Here are some more like this:</h3>
  </div>

    <ul style="width: 400px; margin-left: auto; margin-right: auto; " class="list-group list-group-flush">
      {% for m in r %}
        <li class="list-group-item" style="color:rgb(0, 179, 0);"><strong>{{m|capitalize}}</strong></li>
      {% endfor %}
    </ul>
  {% endif %}

{% endblock %}
